@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  margin: 20% auto;

  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #4f46e5 94%, #0000) top/10px 10px
      no-repeat,
    conic-gradient(#0000 30%, #4f46e5);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #111827; /* Example dark background color */
  color: #e2e8f0; /* Example lighter text color */
}
